body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0px !important;
  padding: 0px !important;
}

#container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #ececec;
}

#sshHeader {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  height: 64px;
  width: 100%;
  position: relative;
  justify-content: left;
  vertical-align: middle;
}

#sshHeader #logo {
  justify-content: left;
}

#sshHeader .headerBtn {
  width: 10rem;
  height: 100%;
  line-height: 58px;
  font-size: 18px;
  text-align: center;
  border: none;
  justify-content: center;
  cursor: pointer;
}

#title {
  width: 100vw;
  top: 100px;
  text-align: center;
}

h1 {
  font-size: 48px;
}

#title p {
  font-size: 18px;
  text-align: center;
  justify-content: center;
}

#shakeItUp {
  width: 240px;
  height: 60px;
  background-color: black;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  margin-bottom: 2rem;
  cursor: pointer;
}

.cardHolder {
  display: inline-grid;
  margin-top: 1rem;
}

.card {
  background-color: white;
  text-align: left;
  width: 388px;
  height: auto;
  top: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 24px;
  display: inline-grid;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  color: #808080;
}

.drinkImage {
  justify-self: center;
  height: 24rem;
  width: auto;
}

.loveItBtn {
  border-color: black;
  background-color: white;
  height: 40px;
  width: 140px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  margin-top: 17px;
  cursor: pointer;
}

.multiCardHolder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  row-gap: 43px;
}

#dropshadow {
  box-shadow: .5rem .5rem lightgray;
}

#selector {
  margin-bottom: 1rem;
}
