body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0px !important;
  padding: 0px !important;
}

#container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #ececec;
}

#sshHeader {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  height: 64px;
  width: 100%;
  position: relative;
  justify-content: space-evenly;
}

#sshHeader #logo {
  justify-content: left;
}

#sshHeader .headerBtn {
  width: 132px;
  height: 100%;
  /* margin-top: 21px; */
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  align-items: center;
}

#sshHeader #favoriteBtn {
  margin-top: 12px;
  justify-content: right;
  border-color: black;
  background-color: white;
  height: 40px;
  width: 140px;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 200px;
}

#title {
  width: 100vw;
  top: 100px;
  text-align: center;
}

h1 {
  font-size: 48px;
}

#title p {
  font-size: 18px;
  text-align: center;
  justify-content: center;
  line-height: 25.31px;
}

#title #shakeItUp {
  width: 240px;
  height: 60px;
  background-color: black;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

.cardHolder {
  /* position: relative;
  width: 100vw;
  height: 436px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center; */
  display: inline-grid;

}

.card {
  background-color: white;
  text-align: left;
  width: 388px;
  height: auto;
  top: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 24px;
  display: inline-grid;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  color: #808080;
}

.drinkImage {
  justify-self: center;
  height: 24rem;
  width: auto;
}

.yesPleaseBtn {
  border-color: black;
  background-color: white;
  height: 40px;
  width: 140px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  margin-top: 17px;
}

.buttonSelected {
  background-color: #F2F2F2
}

.multiCardHolder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  row-gap: 43px;
}
